
@font-face {
    font-family: "CeraPRO";
    src: url("./assets/font/cerapro.woff2");
}
@font-face {
    font-family: "CeraPROBold";
    src: url("./assets/font/cerapro_bold.woff2");
}
:root {
  font-family: CeraPROBold, sans-serif, system-ui, Avenir, Helvetica, Arial;
  button {
    cursor: pointer;
  }

}

